{% extends "layout.html" %}

{% block beam %}

<div id="beam">

    <div class="column">
        <h1 class="indent">Connect your Last.fm account</h1>
        <p class="indent">If you connect your Last.fm account it will give us a better idea of the kind of music you're into.</p>
        <p class="indent">Click the button below to redirect you to Last.fm to connect your eartub.es account to your Last.fm account.</p>
        <a href="/lastfm_auth/"><img src="/static/media/lastfm.gif" id="lastfm-connect" /></a>
        {{ lastfm_username }}
    </div>
    <div class="column">
        <h1 class="indent">Or try searching a film you like</h1>
        <p class="indent">Enter the name of a movie, select it from the list, and we'll try and suggest similar ones by soundtrack.</p>
        <input type="text" placeholder="Movie name" id="movie_name" />

        <ul id="movie_name_results" style="opacity:0.0;">
        </ul>
        <div style="clear:both;"></div>
    </div>
</div>

    <div id="results">
        <div id="query">
            <p>Movies with soundtracks similar to "<strong><span id="query-title"></span>"</strong></p>
            <div id="query-poster"></div>
        </div>

    </div>


{% endblock %}

{% block main %}

{% endblock %}

{% block scripts %}
<script type="text/javascript">
var requesting = false;

function loadListeners(){
    $("#movie_name_results li").click(function(event){
        event.stopImmediatePropagation();
        var movieName = $(this).attr("rel");
        $("#movie_name").val(movieName)
         $("#movie_name_results").html('');
         $("#movie_name_results").stop().animate({opacity: '0.0'}, 400);
         var winHeight = $(window).height();
         var topHeight = winHeight-200; // - height of beam - padding of beam   
         $("#beam").stop().animate({top:topHeight+'px', height:'200px'},600, 'easeOutQuint');
        getMovieInfo(movieName);
    });
}

function getMovieInfo(name){
    $.ajax({
        type : 'POST',
        url : '/api/imdb',
        dataType : 'json',
        data : {
            q: name
        },
        success : function(data){
            console.log(data);
            $("#query-title").html(data[0]['title']);
            if(data[0]['poster'] != null){
                $("#query-poster").html('<img src="'+data[0]['poster']+'" />');
            }
            else{$("#query-poster").html('<p class="error">Sorry, we couldn\'t find an image for this movie.</p>');}
            $("#results").fadeIn(500);
            var spaceLeft = $(window).height() - $("header").height() - $("#beam").height()-80;
            $("#results").animate({height: spaceLeft+'px'},300, function(){
                var spaceForImage = $("#query").height() - $("#query-title").height()-50;
                $("#query-poster img").animate({height:spaceForImage+"px"}, 300);
            });
        },
        error : function(XMLHttpRequest, textStatus, errorThrown){
            console.log("error: "+textStatus);
        }
    });
}

function getMoviesByName(name){
    requesting = true;
    $.ajax({
        type : 'POST',
        url : '/api/ps',
        dataType : 'json',
        data : {
            q: name
        },
        success : function(data){
            $("#movie_name_results").html('');
            if($("#movie_name").val().length <=2){
                 $("#movie_name_results").stop().animate({opacity: '0.0'},300);   
                 $("#beam").stop().animate({height: "350px"}, 300);
 
                requesting = false;
                return;
            }
            $("#movie_name_results").stop().animate({opacity: '1.0'},400);
            for(var i = 0; i < data.length; i++){
                var item = "";
                item = '<li rel="'+data[i]['title']+'">'+data[i]['title']
                if(data[i]['year'] != "-1"){
                    item = item + ' ('+data[i]['year']+')'
                }
                item = item + '</li>';
                $("#movie_name_results").append(item);
                if(i > 200){i = data.length;}
                loadListeners();
                var reqHeight = $("#movie_name_results").height() + 200;
                $("#beam").stop().animate({height: reqHeight+"px"}, 300);
            }
            requesting = false;
        },
        error : function(XMLHttpRequest, textStatus, errorThrown){
            console.log("error");
            requesting = false;
        }
    });

}

$("#movie_name").keyup(function(event){
    event.stopImmediatePropagation();
    var request = $("#movie_name").val();
    if(request.length > 2 && requesting == false){
        if($("#beam").height() < 300){
            $("#beam").stop().animate({top:'150px', height:'350px'},600, 'easeOutQuint');
        }
        else{
            $("#beam").stop().animate({top:'150px'},600, 'easeOutQuint');
        }
        $("#results").stop().fadeOut(400);
        getMoviesByName(request);
    }
});
</script>
{% endblock %}
