<!doctype html>

<head>
    <title>Thymeblocks</title>

    <link rel="stylesheet" href="static/css/style.css">
    <!-- <link href='http://fonts.googleapis.com/css?family=Jacques+Francois' rel='stylesheet' type='text/css'> -->
    <link href='http://fonts.googleapis.com/css?family=Cantarell' rel='stylesheet' type='text/css'>
</head>
<header>
      <h1>eartub.es</h1>
</header>
<body>
    <!-- <div id="sidebar">
        <h1>eartub.es</h1>
        <hgroup>
        </hgroup>
        </ul>
    </div> -->
    <div id="content">
    </div>
<!-- Grab Google CDN's jQuery. fall back to local if necessary -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>window.jQuery || document.write("<script src='static/js/jquery-1.9.1.min.js'>\x3C/script>")</script>

<!-- this is where we put our custom functions -->
<!-- don't forget to concatenate and minify if needed -->
<script src="static/js/functions.js"></script>
</body>

</html>

