{% extends "layout.html" %}


{% block beam %}

<div id="beam">
       <div id="account-holder">
                <div id="login-form" class="account"> 
                    <h2>Login</h2>
                    <input type="text" id="login-email" placeholder="Email" />
                    <input type="password" id="login-password" placeholder="Password" />
                    <button id="login">Login</button>
                    <p>Need an account? Please <span class="link" id="show-register">click here</span>.</p>
                </div>

                <div id="registration-form" class="account">
                    <h2>Register</h2>
                    <input type="text" id="registration-email" placeholder="Email" />
                    <input type="password" id="registration-password1" placeholder="Password" />
                    <input type="password" id="registration-password2" placeholder="Confirm password" />
                    <button id="register">Register</button>
                    <p>Already have an account? Please <span class="link" id="show-login">click here</span>.</p>
                </div>
        </div>
    <h1 class="indent">Welcome to eartubes</h1>
    <p class="indent">Let us get in your musics and tell you about films that we think you'll like.</p>
    <p class="indent">Make an account or login to get started.</p>
 
</div>

{% endblock %}

{% block main %}

{% endblock %}

{% block scripts %}
<script type="text/javascript">
function loadListeners(){
    $("#show-register").click(function(){
        showRegister();
    });

    $("#show-login").click(function(){
        showLogin();
    });
}
function showRegister(){
    $("#login-form").fadeOut(300, function(){
        $("#registration-form").fadeIn(500);
    });
    loadListeners();
}
function showLogin(){
    $("#registration-form").fadeOut(300, function(){
        $("#login-form").fadeIn(500);
    });
    loadListeners();
}
$(document).ready(function(){
   loadListeners(); 
});
</script>
{% endblock %}
