{% extends "layout.html" %}


{% block promo %}



{% endblock %}

{% block main %}
<div id="login-form" 
    <input type="text" name="email" id="email" placeholder="Email">
    <input type="password" name="password" placeholder="Password">
    <input type="submit">Login</button>
</div>

<div id="registration-form">
    <input type="text" id="email" placeholder="Email">
    <input type="password" id="password1" placeholder="Password">
    <input type="password" id="password2" placeholder="Confirm password">
</div>

{% endblock %}
